# For neovim
pynvim
neovim-remote

# Python dependencies
result

# For python dev
isort
python-language-server
pylsp-mypy
flake8
autoflake
basedpyright

# My stuff
-e file://${DUMB_CLONE_HOME}/jrpc --config-settings editable_mode=strict
-e file://${DUMB_CLONE_HOME}/mux-api --config-settings editable_mode=strict
-e file://${DUMB_CLONE_HOME}/reg-api --config-settings editable_mode=strict
-e file://${DUMB_CLONE_HOME}/tmux-mux --config-settings editable_mode=strict
-e file://${DUMB_CLONE_HOME}/nvim-mux --config-settings editable_mode=strict
